$primary: #283593;
$purple: #6418C3;
$light: rgb(240, 240, 240);
$blue: rgb(13, 110, 253);
$light-green:#68CF29;
$custom-colors: (
    'primary':$primary,
    'purple':$purple,
    'blue':$blue,
    'l-green':$light-green,
);
