@import './colors';
// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$warning: #FFAB2D;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";


// 4. Include any default map overrides here
$theme-colors: map-merge($theme-colors, $custom-colors);
$dropdown-spacer: .11rem;
$dropdown-border-radius: 0.5rem;
$dropdown-border-color: rgb(220, 220, 220);
$dropdown-min-width: 10rem;
$modal-content-border-radius: 5px;
// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/alert';
@import '../../node_modules/bootstrap/scss/dropdown';
@import '../../node_modules/bootstrap/scss/modal';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
.text-btn {
    border: none !important;
    outline: none;
}

@each $name,
$value in $theme-colors {
    .btn-light-#{$name} {
        background: rgba($color: $value, $alpha: 0.1) !important;
        color: $value !important;
        font-weight: bold !important;
        border: 1px solid rgba($color: $value, $alpha: 0.2) !important;
        ;

        &:hover {
            background: rgba($color: $value, $alpha: 0.35) !important;
            border: 1px solid rgba($color: $value, $alpha: 0.3) !important;
        }
    }

    .bg-light-#{$name} {
        background: rgba($color: $value, $alpha: 0.2) !important;
        color: $value !important;
    }

    .border-light-#{$name} {
        border-color: rgba($color: $value, $alpha: 0.1) !important;
    }

    .text-btn-#{$name} {
        color: $value;
        background: transparent !important;

        &:hover {
            color: $value !important;
            background: rgba($color: $value, $alpha: 0.1) !important;
        }

        &:focus {
            color: $value !important;
            background: rgba($color: $value, $alpha: 0.1) !important;
        }
    }
}

.dropdown-menu{
    z-index: 200 !important;
}
